{% extends 'layout.html' %}

{% block body %}

<h4 class="text-center">CPSC 437/537: Database Systems Project</h4>
<p class="text-center">A simple mycology Flask application that allows users ready access to mycological information.</p>

<div class="container">
  <h4 class="text-center" style="padding-top: 50px;">Parameter Selection</h4>
  <form action="{{ url_for('index') }}" method="post">
    <div class="form-group">
        {{ form.csrf_token }}
        {{ form.genus.label }}
        {{ form.genus(class_="form-control", id="exampleFormControlSelect1")}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<div class="container">
  <div class="well text-center">
    <div class="row">
      <div class="col-md-6">
        {{ map_data | safe }}
      </div>
      <div class="col-md-6">
        <!-- Here add info about genus or pictures -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
